# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual env
aenv/
venv/
env/
*.env

# Django stuff
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
